@inject BlogService blogService

<ul class="list bg-base-100 rounded-box shadow-md overflow-hidden py-2">
    <li class="py-2 px-4 text-base flex flex-row items-center justify-between">
        <span>
            推荐文章
            @if (recommendedBlogs != null)
            {
                <span>
                    - 共 @(recommendedBlogs.Count()) 篇
                </span>

            }
        </span>
        <div class="join">
            <button class="join-item btn" onclick="@previousPage" disabled="@(recommendedBlogs == null || start <= 1)">
                <Icon Name="tabler:chevrons-left" Width="20" Height="20" />
            </button>
            <button class="join-item btn" disabled="@(recommendedBlogs == null || recommendedBlogs.Count() == 0)">
                @start - @end
            </button>
            <button class="join-item btn" onclick="@nextPage" disabled="@(recommendedBlogs == null || end >= recommendedBlogs.Count())">
                <Icon Name="tabler:chevrons-right" Width="20" Height="20" />
            </button>
        </div>
    </li>
    @if (!fetched)
    {
        <Loading Message="正在加载..." />
    }
    else if (recommendedBlogs == null)
    {
        <Alert Type="error" Message="服务器暂不可用，过会再来看看吧 ;-;" />
    }
    else if (recommendedBlogs.Count() == 0)
    {
        <Alert Type="info" Message="暂时还没有推荐文章，过几天再来看看吧 >-<" />
    }
    else
    {
        @for (int i = start; i <= end; ++i)
        {
            <BlogListItem BlogMetaInfo="@recommendedBlogs.ElementAt(i - 1)" Id="@i"/>
            @if (i != end)
            {
                <div class="divider m-0"></div>
            }
        }
    }
</ul>

@code {
    bool fetched;
    IEnumerable<BlogMetaInfoDto>? recommendedBlogs;
    int start, end;

    protected override async Task OnInitializedAsync()
    {
        recommendedBlogs = await blogService.GetRecommendedBlogsAsync();
        recommendedBlogs = recommendedBlogs?.OrderByDescending(b => (b.IsSticky, b.CreateAt));
        fetched = true;
        start = recommendedBlogs?.Count() > 0 ? 1 : 0;
        end = Math.Min(5, recommendedBlogs?.Count() ?? 0);
        StateHasChanged();
    }

    void previousPage()
    {
        if (recommendedBlogs != null && start > 1)
        {
            start -= 5;
            end = start + 4;
        }
    }

    void nextPage()
    {
        if (recommendedBlogs != null && end < recommendedBlogs.Count())
        {
            start += 5;
            end += 5;
            end = Math.Min(end, recommendedBlogs.Count());
        }
    }
}