@using System.Reflection;

<footer class="flex flex-col lg:flex-row pt-8 pb-6 bg-base-200 text-base-content rounded gap-5 lg:gap-0 items-center">
    <div class="flex flex-col flex-1/3 items-center gap-2 text-sm order-1">
        <nav class="flex flex-col items-center bg-base-300 py-2 px-4 rounded-lg">
            <ul class="flex flex-col gap-4">
                @foreach (var link in externalLinks)
                {
                    <li class="flex flex-row gap-2 items-center">
                        <a href="@link.Url" class="hover:text-error">
                            <Icon Name="@link.IconName" Width="32" Height="32" />
                        </a>
                    </li>
                }
            </ul>
            <span>外链</span>
        </nav>
        <nav class="flex flex-col items-center py-2 px-4 rounded-lg gap-2">
            <span class="text-sm">本站由以下技术强力驱动：</span>
            <ul class="flex flex-row gap-4 items-center flex-wrap justify-center">
                @foreach (var item in poweredByList)
                {
                    <li>
                        <a class="flex flex-row items-center bg-base-300 rounded-xl px-3 py-2 gap-1.5 hover:text-error"
                            href="@item.Url">
                            <img class="h-6" src="@item.LogoPath" />
                            <span class="font-bold text-base">
                                @item.Name
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div class="flex flex-col flex-1/3 gap-2 items-center order-3 lg:order-2">
        <span class="text-lg">CodeArt.Online - WoofZJ&apos;s Blog</span>
        <div class="flex flex-col gap-2 items-center">
            <div class="divider my-0">
                <div>
                    本站
                    <span class="font-bold text-primary-content mx-0">
                        v@(version)
                    </span>
                    已在线
                </div>
            </div>
            <Counter startTime="@buildDateTime" />
            <div class="flex flex-row items-end">
                <span>构建于</span>
                <DateTimeWidget UtcDateTime="@buildDateTime"/>
            </div>
            <div class="divider m-0 h-1"></div>
        </div>
        <aside class="">
            <span> &copy; 2025 WoofZJ. All rights reserved. </span>
        </aside>
    </div>
    <div class="flex flex-col flex-1/3 items-center gap-2 text-sm order-2 lg:order-3">
        <ViewStats />
    </div>
</footer>

@code {
    record ExternalLink(string Name, string Url, string IconName);
    record PoweredBy(string Name, string LogoPath, string Url);
    ExternalLink[] externalLinks = [
        new ("Github", "https://github.com/WoofZJ", "tabler:brand-github"),
    ];
    PoweredBy[] poweredByList = [
        new ("tailwindcss", "/images/tailwindcss.svg", "https://tailwindcss.com/"),
        new ("daisyUI", "/images/daisyui.svg", "https://daisyui.com/"),
        new ("Blazor", "/images/blazor.png", "https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"),
        new ("Cloudflare Workers", "/images/cloudflare-workers.svg", "https://workers.cloudflare.com/"),
    ];
    string? version;
    DateTime buildDateTime;
    protected override void OnInitialized()
    {
        // Get Version string
        var assembly = Assembly.GetExecutingAssembly();
        version = assembly.GetName().Version?.ToString() ?? "-.-.-.-";
        version = version.Substring(0, version.LastIndexOf('.'));

        // Get Build DateTime
        var buildDateAttribute = assembly.GetCustomAttributes<AssemblyMetadataAttribute>()
        .FirstOrDefault(a => a.Key == "BuildDateTime");
        DateTime.TryParse(buildDateAttribute?.Value, out buildDateTime);
    }

}