@inject IJSRuntime jsRuntime
@inject MessageService messageService
@using System.ComponentModel.DataAnnotations;

<EditForm Model="formModel" OnValidSubmit="HandleValidSubmit"
    class="flex flex-col gap-y-2 bg-base-200 py-4 px-4 rounded-2xl">
    <DataAnnotationsValidator />
    <div class="flex flex-row flex-wrap justify-end items-center gap-x-4 px-4 gap-y-2">
        <button type="button" class="avatar hover:cursor-pointer" onclick="openModal()">
            <div class="w-16 h-16 rounded-full border-neutral-300 border-2">
                <img src="@($"/images/avatars/{selectedAvatar}.png")" />
            </div>
        </button>
        <div class="grow flex flex-col gap-1">
            <InputText @bind-Value="formModel.Nickname" 
                      placeholder="昵称（选填）"
                      class="input h-7" 
                      maxlength="20" />
            <InputText @bind-Value="formModel.Email" 
                      placeholder="邮箱（选填）"
                      class="input h-7" 
                      maxlength="20" />
        </div>
        <button type="submit" class="btn btn-primary">提交留言</button>
    </div>
    <div>
        <InputTextArea @bind-Value="formModel.Message"
                      placeholder="留下你想说的话吧 ^-^"
                      class="textarea w-full min-h-32"
                      maxlength="500" />
        <ValidationMessage class="text-sm text-error px-2 mt-2" For="@(() => formModel.Message)" />
    </div>
    <dialog id="selectAvatarModal" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">选择头像</h3>
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <div class="max-h-88 overflow-y-auto">
                <ul class="flex flex-row flex-wrap gap-2 justify-around">
                    @for (int i = 0; i < 64; ++i)
                    {
                        int avatarIndex = i;
                        <button type="button" class="avatar hover:cursor-pointer"
                            onclick="@(async () => await SelectAvatarAsync(avatarIndex))">
                            <div class="w-16 h-16 rounded-full border-2 border-base-300">
                                <img src="@($"/images/avatars/{i}.png")" />
                            </div>
                        </button>
                    }
                </ul>
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>
</EditForm>

<script>
    function closeModal() {
        document.getElementById('selectAvatarModal').close();
    }
    function openModal() {
        document.getElementById('selectAvatarModal').showModal();
    }
</script>

@switch (submitStatus)
{
    case SubmitStatus.Submitting:
        <Loading Message="提交中..." />
        break;
    case SubmitStatus.Success:
        <Alert Type="success" Message="留言提交成功！" />
        break;
    case SubmitStatus.Failed:
        <Alert Type="error" Message="服务器暂不可用，过会再来看看吧 ;-;" />
        break;
}

@if (myMessages == null)
{
    <Alert Type="error" Message="服务器暂不可用，过会再来看看吧 ;-;" />
}
else
{
    <div class="collapse collapse-open bg-base-100 border-base-300 border">
        <div class="collapse-title font-semibold text-2xl bg-base-200 hover:bg-base-200">
            <div class="inline-block align-middle h-full">
                <Icon Name="tabler:message-user" Width="26" Height="26" />
            </div>
            我的留言 - 共 @myMessages.Count() 条
        </div>
        <div class="collapse-content">
            <div class="divider my-2">背景色代表留言状态</div>
            <div class="flex flex-row items-center gap-2 justify-evenly">
                <div class="badge bg-red-200 text-base py-4 font-bold text-black">
                    审核不通过
                </div>
                <div class="badge bg-emerald-200 text-base py-4 font-bold text-black">
                    审核通过
                </div>
                <div class="badge bg-amber-200 text-base py-4 font-bold text-black">
                    审核中
                </div>
            </div>
            <div class="divider my-2"></div>
            @foreach (var message in myMessages.OrderByDescending(x => x.UploadAt))
            {
                string bgColor = message.IsApproved ? "bg-emerald-200" :
                    (message.IsRead ? "bg-red-200" : "bg-amber-200" );
                <div class="@("chat mt-2 chat-start text-black " + bgColor)">
                    <div class="chat-image avatar">
                        <div class="w-16 rounded-full border-neutral-300 border-2">
                            <img src="@($"/images/avatars/{message.AvatarId}.png")" />
                        </div>
                    </div>
                    <div class="chat-header">
                        <span class="text-base font-semibold">
                            @(string.IsNullOrEmpty(message.Nickname) ? "匿名访客" : message.Nickname)
                        </span>
                    </div>
                    <div class="chat-bubble">
                        @message.Message
                    </div>
                    <div class="chat-footer opacity-50">
                        <div class="text-xs">
                            留言于
                            @message.UploadAt.AddHours(8).ToString("yyyy/MM/dd HH:mm:ss")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    public class FormModel
    {
        public string Nickname { get; set; } = string.Empty;
        public string Email { get; set; } = string.Empty;
        
        [Required(ErrorMessage = "留言怎么能留空呢 ?-?")]
        [MaxLength(500)]
        public string Message { get; set; } = string.Empty;
    }
    FormModel formModel = new FormModel();
    enum SubmitStatus
    {
        NotSubmitted,
        Submitting,
        Success,
        Failed
    }
    int selectedAvatar;
    SubmitStatus submitStatus = SubmitStatus.NotSubmitted;
    IEnumerable<MessageGetDto>? myMessages;

    async Task HandleValidSubmit()
    {
        submitStatus = SubmitStatus.Submitting;
        StateHasChanged();
        if(await messageService.SendMessageAsync(
            formModel.Nickname, formModel.Email, formModel.Message, selectedAvatar))
        {
            submitStatus = SubmitStatus.Success;
            formModel.Message = string.Empty;
        }
        else
        {
            submitStatus = SubmitStatus.Failed;
        }
        await UpdateSelfMessagesAsync();
        StateHasChanged();
    }

    async Task SelectAvatarAsync(int avatarIndex)
    {
        selectedAvatar = avatarIndex;
        StateHasChanged();
        await jsRuntime.InvokeVoidAsync("closeModal");
    }

    async Task UpdateSelfMessagesAsync()
    {
        myMessages = await messageService.GetSelfMessagesAsync();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        MessageDto messageDto = await messageService.GetLocalMessage();
        formModel.Nickname = messageDto.Nickname;
        formModel.Email = messageDto.Email;
        selectedAvatar = messageDto.AvatarId;
        await UpdateSelfMessagesAsync();
    }
}
